.snow-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.app-root {
  position: relative;
  z-index: 1;
}

/* .snowflake {
  position: absolute;
  top: -10%;
  color: #ffffff;
  font-size: 0.9rem;
  opacity: 0.8;
  animation: snow-fall linear infinite;
  color: rgba(240, 255, 255, 0.9);
  text-shadow: 0 0 6px rgba(200, 240, 255, 0.4); 
} */

.snowflake {
  position: absolute;
  top: -10%;
  color: rgba(240, 255, 255, 0.9);
  text-shadow: 0 0 6px rgba(200, 240, 255, 0.4);
  font-size: 1.1rem;
  opacity: 0.95;
  animation: snow-fall linear infinite;
}

.snowflake:nth-child(1) {
  left: 5%;
  animation-duration: 9s;
  animation-delay: 0s;
}
.snowflake:nth-child(2) {
  left: 15%;
  animation-duration: 11s;
  animation-delay: -2s;
}
.snowflake:nth-child(3) {
  left: 25%;
  animation-duration: 13s;
  animation-delay: -4s;
}
.snowflake:nth-child(4) {
  left: 35%;
  animation-duration: 10s;
  animation-delay: -1s;
}
.snowflake:nth-child(5) {
  left: 45%;
  animation-duration: 14s;
  animation-delay: -3s;
}
.snowflake:nth-child(6) {
  left: 55%;
  animation-duration: 12s;
  animation-delay: -5s;
}
.snowflake:nth-child(7) {
  left: 65%;
  animation-duration: 15s;
  animation-delay: -6s;
}
.snowflake:nth-child(8) {
  left: 75%;
  animation-duration: 9s;
  animation-delay: -3s;
}
.snowflake:nth-child(9) {
  left: 85%;
  animation-duration: 13s;
  animation-delay: -7s;
}
.snowflake:nth-child(10) {
  left: 95%;
  animation-duration: 16s;
  animation-delay: -4s;
}

/* geri kalanlara da random variasyonu tekrar kullan */
.snowflake:nth-child(11) {
  left: 12%;
  animation-duration: 10s;
  animation-delay: -5s;
}
.snowflake:nth-child(12) {
  left: 28%;
  animation-duration: 14s;
  animation-delay: -2s;
}
.snowflake:nth-child(13) {
  left: 42%;
  animation-duration: 11s;
  animation-delay: -6s;
}
.snowflake:nth-child(14) {
  left: 58%;
  animation-duration: 13s;
  animation-delay: -1s;
}
.snowflake:nth-child(15) {
  left: 72%;
  animation-duration: 15s;
  animation-delay: -3s;
}
.snowflake:nth-child(16) {
  left: 8%;
  animation-duration: 12s;
  animation-delay: -7s;
}
.snowflake:nth-child(17) {
  left: 20%;
  animation-duration: 9s;
  animation-delay: -4s;
}
.snowflake:nth-child(18) {
  left: 33%;
  animation-duration: 16s;
  animation-delay: -8s;
}
.snowflake:nth-child(19) {
  left: 60%;
  animation-duration: 11s;
  animation-delay: -5s;
}
.snowflake:nth-child(20) {
  left: 88%;
  animation-duration: 13s;
  animation-delay: -6s;
}

/* animasyon */
@keyframes snow-fall {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}
