.background-image {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2; /* en arkada */
}

/* üstüne hafif dark overlay */
.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.185); /* istersen 0.3 yaparsın */
  /*backdrop-filter: blur(2px); /* hafif blur çok kalite katıyor */
}
